@page "/cms"


<style>
    .rz-body {
        background-color: #ffff !important;
    }
</style>

<section class="font-inter">
    <div class="row mb-4">
        <div class="header-main">
            <div class="header-main-title">
                <h1>CMS Full Form(Edit)</h1>
                <p>Forks & Likes this Project, and download Full Templates at CMSFullForm.com</p>
            </div>
            <div class="header-main-buttons">
                <button class="button-dark">New Article</button>
                <button class="button-white">Import Content</button>
            </div>
        </div>
    </div>


    <!--Cards-->
    <div class="row g-3 mb-4">
        <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="cards-new">
                <div class="card-icons">
                    <i class="bi bi-file-earmark-medical"></i>
                    <small class="card-icons-small"><i class="bi bi-arrow-up-right"></i> +12.8%</small>
                </div>
                <div class="card-label">
                    <h2>1,247</h2>
                    <p>Total Articles</p>
                    <small>Published Articles</small>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="cards-new">
                <div class="card-icons">
                    <i class="bi bi-file-earmark-medical"></i>
                    <small class="card-icons-small"><i class="bi bi-arrow-up-right"></i> +12.8%</small>
                </div>
                <div class="card-label">
                    <h2>1,247</h2>
                    <p>Total Articles</p>
                    <small>Published Articles</small>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="cards-new">
                <div class="card-icons">
                    <i class="bi bi-file-earmark-medical"></i>
                    <small class="card-icons-small"><i class="bi bi-arrow-up-right"></i> +12.8%</small>
                </div>
                <div class="card-label">
                    <h2>1,247</h2>
                    <p>Total Articles</p>
                    <small>Published Articles</small>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="cards-new">
                <div class="card-icons">
                    <i class="bi bi-file-earmark-medical"></i>
                    <small class="card-icons-small"><i class="bi bi-arrow-up-right"></i> +12.8%</small>
                </div>
                <div class="card-label">
                    <h2>1,247</h2>
                    <p>Total Articles</p>
                    <small>Published Articles</small>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="cards-new">
                <div class="card-icons">
                    <i class="bi bi-file-earmark-medical"></i>
                    <small class="card-icons-small"><i class="bi bi-arrow-up-right"></i> +12.8%</small>
                </div>
                <div class="card-label">
                    <h2>1,247</h2>
                    <p>Total Articles</p>
                    <small>Published Articles</small>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="cards-new">
                <div class="card-icons">
                    <i class="bi bi-file-earmark-medical"></i>
                    <small class="card-icons-small"><i class="bi bi-arrow-up-right"></i> +12.8%</small>
                </div>
                <div class="card-label">
                    <h2>1,247</h2>
                    <p>Total Articles</p>
                    <small>Published Articles</small>
                </div>
            </div>
        </div>
    </div>

    <!--Contents-->
    <div class="row mb-4">
        <div class="col">
            <div class="content-performance">
                <div class="performance-header">
                    <h3>Content Performance</h3>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown button
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
                <div class="performance-body">
                    <p>Graphs Here</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="content-performance">
                <div class="performance-header">
                    <h3>Content by Category</h3>
                    <button class="this-year2" type="button">
                        This Year
                    </button>
                </div>
                <div class="performance-body">
                    <p>Graphs Here</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="content-performance">
                <div class="performance-header mb-4">
                    <h3>System History</h3>
                    <button class="this-year" type="button">
                        This Year
                    </button>
                </div>
                <div class="performance-body">
                    <div class="performance-cards">
                        <div class="performance-cards-icon">
                            <i class="bi bi-plug icon-sized"></i>
                        </div>
                        <div class="label-right">
                            <div class="performance-cards-label">
                                <h4>Plugin Activated <span>success</span></h4>
                                <small>10 minutes ago</small>
                            </div>
                            <div class="performance-cards-label-bot">
                                <p>SEO Optimizer Pro by Admin</p>
                                <p class="mx-2"> • </p>
                                <span>Version 2.1.4</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="last">
                    <p class="last-p">Last system check: 2 hours ago</p>
                    <button class="this-year" type="button">
                        System Logs
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="content-performance">
                <div class="performance-header mb-4">
                    <h3>Content by Category</h3>
                    <button class="this-year" type="button">
                        This Year
                    </button>
                </div>
                <div class="performance-body">
                    <div class="performance-cards">
                        <div class="performance-cards-icon">
                            <i class="bi bi-plus-lg"></i>
                        </div>
                        <div class="label-right">
                            <div class="performance-cards-label">
                                <div class="label-with-pic">
                                    <img src="Agusan.png" class="user-pic" alt="Website Logo">
                                    <h4>Sarah Johnson <span>Editor</span></h4>
                                </div>
                                <small>10 minutes ago</small>
                            </div>
                            <div class="performance-cards-label-bot">
                                <p>created New article: 'AI in Healthcare'</p>
                                <p class="mx-2"> • </p>
                                <span>Technology category</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="last">
                    <p class="last-p">24 active users today</p>
                    <button class="this-year" type="button">
                        User Management
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-8">
            <div class="content-performance mb-4">
                <div class="performance-header mb-4">
                    <h3>Recent Posts</h3>
                    <button class="this-year" type="button">
                        View All
                    </button>
                </div>
                <div class="post-card">
                    <div class="post-card-content">
                        <div class="post-card-left">
                            <div class="performance-post-icon">
                            </div>
                            <div>
                                <div class="post-label-top">
                                    <h4>The Future of Artificial Intelligence in Healthcare</h4>
                                    <small>Featured</small>
                                </div>
                                <div class="post-label-bot">
                                    <span>Dr. Sarah Johnson </span>
                                    <span class="mx-2">•</span>
                                    <p class="this-badge">Technology</p>
                                    <span class="mx-2">•</span>
                                    <span>2 hours ago</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-card-right">
                            <small class="badge published-badge">published</small>
                            <span class="ms-3"><i class="bi bi-eye"></i> 1,247</span>
                            <span class="ms-3"><i class="bi bi-chat"></i> 23</span>
                            <span class="ms-3"><i class="bi bi-three-dots"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-performance mb-4">
                <div class="performance-header mb-4">
                    <h3>Popular Articles</h3>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown button
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
                <div class="articles-card">
                    <div class="articles-card-content">
                        <div class="post-card-left">
                            <div class="articles-card-icon">
                                <h5>1</h5>
                            </div>
                            <div>
                                <div class="post-label-top">
                                    <h4>10 Essential Tips for Remote Work Productivity</h4>
                                </div>
                                <div class="post-label-bot">
                                    <p class="this-badge">Technology</p>
                                    <span class="mx-2">5 min read</span>
                                </div>
                            </div>
                        </div>
                        <div class="articles-card-right text-end">
                            <div class="articles-right-top">
                                <small><i class="bi bi-arrow-up-right"></i> +12.5%</small>
                            </div>
                            <div class="article-right-bot">
                                <span class="ms-3"><i class="bi bi-eye"></i> 1,247</span>
                                <span class="ms-3"><i class="bi bi-chat"></i> 23</span>
                                <span class="ms-3"><i class="bi bi-three-dots"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-4">                                                                                                                                               
            <div class="content-performance mb-4">
                <div class="performance-header mb-4">
                    <h3>Content Categories</h3>
                    <button class="this-year" type="button">
                        <i class="bi bi-plus-lg"></i>
                    </button>
                </div>
                <div class="card-categories">
                    <div class="badges">
                        <span>Technology</span>
                        <small>Tech news & tutorials</small>
                    </div>          
                    <div class="badges-right text-end">
                        <span>156</span>
                        <small><i class="bi bi-arrow-up-right"></i> +12.5%</small>
                    </div>
                </div>
                <hr />
                <div class="last">
                    <p class="last-p">Total Articles</p>
                    <button class="this-year" type="button">
                        624
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


@code {

}
